#COOJA External Tools (User specific)
#Wed Oct 19 11:01:29 CEST 2011
FRAME_WIDTH=2147483647
LOG_LISTENER_SAVEFILE=/home/user/contiki-2.x-git/my simulations/rdc101/loglistener_M1_OF0.txt
LINK_COMMAND_2=-L/usr/lib/mingw -lmsvcrt
SIMCFG_HISTORY=/home/user/contiki-2.x/examples/my_rpl_metric/rpl_metrics.csc;/home/user/contiki-2.x/examples/my_udp_client_server/udp_client_sender.csc;/home/user/contiki-2.x/examples/my_rpl_metric/wogrpl_metrics.csc;/home/user/contiki-2.x/examples/my_rpl_metrics/rpl_metrics.csc;/home/user/contiki-2.x-git/examples/my_rpl_metrics/rpl_metrics.csc;/home/user/contiki-2.x-git/examples/my_rpl_metric/rpl_metrics.csc;/home/user/tmp/contiki-2.x-git_old/examples/my_rpl_metric/rpl_metrics.csc;/home/user/contiki-2.x-git_old/examples/my_rpl_metric/rpl_metrics.csc;/home/user/contiki/examples/my_rpl_metric/rpl_metrics.csc;/home/user/contiki-2.5/examples/ipv6/rpl-collect/collect-tree-dense-noloss.csc
COMPILE_LAST_FILE=[CONTIKI_DIR]/examples/ipv6/rpl-udp/udp-client.c
FRAME_HEIGHT=2147483647
FRAME_SCREEN=\:0.0
HIDE_WARNINGS=true
FRAME_POS_Y=24
FRAME_POS_X=0
EXECUTE_JAR_LAST=/home/user/contiki-2.x/examples/my_rpl_metric/5/cooja_simulation.jar
DEFAULT_PROJECTDIRS=
